---
layout: page
title: China art
---


{% for artist in site.data.artists limit:10  offset:3 %}
    <h2>{{ artist.ChineseName}} / {{ artist.EnglishName}} ({{ artist.BirthYear }}-{{ artist.DeathYear }}) </h2>

    /media/china-artworks/{{ artist.EnglishName }}_{{ artist.ChineseName}}/
    <img src="/media/china-artworks/{{ artist.EnglishName }}">


{% endfor %}
































{% for artist in site.data.artists limit:10  offset:3 %}
    <h2>{{ artist.ChineseName}} / {{ artist.EnglishName}} ({{ artist.BirthYear }}-{{ artist.DeathYear }}) </h2>
   
    {% for i in (1..3) %}
    <img src="/media/china-artworks/{{ artist.EnglishName
        | replace: " ", "_"
        | append: "_" 
        | append: artist.ChineseName
        | append: "/"
        | append: artist.EnglishName 
        | replace: " ", "_" 
        | append: "_0" 
        | append: i 
        | append: ".jpg" 
        | append: '">' }}
    {% endfor %}

{% endfor %}